body {
    background: #313131;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: PixelFont;
    src: url('../assets/fonts/monogram.ttf');
    font-weight:100;
}

@font-face {
    font-family: PixelMonoFont;
    src: url('../assets/fonts/PixelMonoFont.ttf');
    font-weight:100;
}